# Игнорируем переменные окружения
.env
.env.*        # любые локальные env файлы

# Игнорируем временные файлы / отчёты
app/temp/
tmp/
*.log

# Игнорируем виртуальные окружения
venv/
.venv/
env/
ENV/

# Игнорируем Python кеши и сборки
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
dist/
build/

# Игнорируем IDE файлы
.vscode/
.idea/

# macOS
.DS_Store